<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="name.boyle.chris.timer"
		android:versionCode="2" android:versionName="0.1">
	<application android:icon="@drawable/icon"
			android:label="@string/app_name">
		<activity android:name=".TimerActivity"
				android:label="@string/app_name"
				android:screenOrientation="portrait"
				android:stateNotNeeded="true"
				android:windowSoftInputMode="stateHidden"
				android:launchMode="singleTask"
				android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".Receiver">
			<intent-filter>
				<action android:name="name.boyle.chris.timer.ALARM"/>
				<data android:scheme="timer"/>
			</intent-filter>
			<intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/></intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" android:path="name.boyle.chris.timer" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		<!--
			This is the "edit" Activity. The mdpi icon should be 32x32. The hdpi
			icon should be 48x48. Locale will scale the icons if necessary, but
			providing pre-scaled versions will improve quality and performance.
		-->
		<activity android:name=".LocaleEdit" android:label="@string/plugin_name"
			android:icon="@drawable/icon_plugin">
			<!-- this Intent filter allows the plug-in to be discovered by Locale -->
			<intent-filter>
				<action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
			</intent-filter>
		</activity>
		<!-- This is the "query" BroadcastReceiver -->
		<receiver android:name=".Receiver">
			<!-- this Intent filter allows the plug-in to be queried -->
			<intent-filter>
				<action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
			</intent-filter>
		</receiver>
	</application>
	<uses-sdk android:minSdkVersion="3" targetSdkVersion="8"/>
	<!--supports-screens android:normalScreens="true" android:largeScreens="true"/-->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
